<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chen.dao.ComputeResultMapper">
    <select id="findTopByOrderByEndIndexDesc" resultType="com.chen.entity.ComputeResult">
        select
        result as result,
        end_index as endIndex,
        start_index as startIndex,
        length as length
        from `pi`.compute_result
        order by end_index limit 1;
    </select>
</mapper>